{% load user_tags %}

<nav class="nav-bar">
    <ul class="nav-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="/parts/">Parts List</a></li>

        {% if user|is_marketeer %}
            <li><a href="/parts/">Parts Changes</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li><a href="/create/">Create your own PC</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

        {% if user|is_superuser_or_marketeer %}
            <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
        {% endif %}
    </ul>
</nav>