{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="name" content="Customize-your-own-PC Shop">

    <title>PC Shop</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    {% include 'common/nav.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>