{% extends 'common/repeatables.html' %}
{% load static %}

{% block content %}
<div class="index-wrapper">

    {% if user.is_authenticated %}
        <h1 class="bigger-text">Are you ready to build your dream PC?</h1>
        <a href="{% url 'computer:create' %}" class="button">Construct</a>
    {% endif %}

    {% if not user.is_authenticated %}
        <h2 class="smaller-text">Join us to start building your dream PC!</h2>
        <div class="auth-buttons">
            <a href="{% url 'login' %}" class="button">Log in</a>
            <a href="{% url 'register' %}" class="button">Register</a>
        </div>
    {% endif %}

    <h1 class="smaller-text">You can view all existing parts here</h1>
    <a href="{% url 'parts_list' %}" class="button">View Parts</a>

</div>
{% endblock %}