{% extends 'common/repeatables.html' %}
{% load static %}

{% block content %}
<div class="index-wrapper">

        <h1 class="bigger-text">Are you ready to build your dream PC?</h1>
        <a href="/builds/" class="button">Construct</a>

        <h2 class="smaller-text">Join us to start building your dream PC!</h2>
        <div class="auth-buttons">
            <a href="/login/" class="button">Log in</a>
            <a href="/register/" class="button">Register</a>
        </div>
        <h1 class="smaller-text">You can view all existing parts here</h1>
        <a href="/parts/" class="button">View Parts</a>

</div>
{% endblock %}